rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /registrations/{document=**} {
      allow read: if true;
      allow read, write, delete: if request.auth != null;
    }
  }
}