rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /registrations/{document=**} {
      allow read: if false;
      allow write, delete: if request.auth != null;
    }
  }
}